:root{
    --color-dark-green:rgba(40, 125, 1, 0.963);
    --color-dark-yellow:#f8c149;
    --color-light-blue: #26b0e6;
    --color-nav-bg:rgba(173, 249, 183, 0.977);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    

  
body{
        background-color: rgba(0, 128, 0, 0.042);
        font-family: Roboto,Inclusive Sans,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0;
        overflow-x: hidden;
        
    }

header{
    justify-content: space-between;
    align-items: center;
    gap:10rem;
    position: sticky;
    top: 0;
    z-index: 900;
    background-color: #fff;
    padding:1rem;
    display:flex;
}

.navbar{
    display:flex;
    flex-direction: column; 
    width:90%;
    
}

.quick-contact{
     display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(40, 125, 1, 0.963);
    padding:20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    color:white;
}

.quick-contact-elements , .image-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}

#quick-email,
#quick-phone{
    justify-content: center;
    display: flex;
    align-items: center;
    gap:9px;
}


.quick-contact img{
    width:20px;
}


.quick-contact-mobile{
    display:none;
}

#menu_toggle{
    display:none
}


.logo{
     width:300px;
    padding:10px;
}

.logo img{
    width:100%
}

.active{
border-bottom: 2px solid #9cad8a;
}

ul{
    display:flex;
    gap:16px;
}

ul li{
    list-style-type: none;
    padding: 9px;
    border-radius: 7px;
    transition: all .2s ease-in-out;
    margin:30px;
    margin-left:0px;
}

ul li a{
    text-decoration: none;
    color: black;
    padding:9px 36px;
    font-size: 20px;
}


ul li:active{
    transform:scale(.9);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.219);

}

img{width:100%}


.footer {
    background-color: var(--color-dark-green); /* Blue background */
    color: #ffffff; /* White text */
    padding: 20px 0;
    text-align: center;
    width:100%;
    margin-top:auto;
}


.footer-copyright {
    margin-top: 20px;
}

.btn{
    padding:7px;
    background-color:var(--color-dark-green);
    color: aliceblue;
    border:none;
    border-radius:5px;
    font-size: 18px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.358);
    text-decoration: none;    
}


.btn a{
    color:white;
    text-decoration: none;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 85, 16, 0.91); /* Blue overlay with opacity */
    backdrop-filter:blur(3px);
}

/* Main section Unique to individual pages start here */
/* Header Section */
.service-bg{
    width:100%;
    height:20vh;
    position:relative;
    background-image: url('../images/sevices-header.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    padding:10px;
    align-content: center;
    
}

.service-bg-text{
    font-size:60px;
    font-weight:900;
    color:rgba(255, 255, 255, 0.778);
    position: relative;
    z-index: 100;
    text-align: center;
    margin-top:30px;
    top:40%;
    font-family: Roboto;
}

.services-rendered {
    margin: 20px auto; 
    padding: 20px;
    background-color: rgba(0, 128, 0, 0.042);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:80%;

}

.service{
    border-radius: 5px;
    overflow: hidden;
}

.services-rendered p {
    font-size: 28px;
    color: #333;
    margin: 20px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.service-content{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.service {
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 400px;;
    position: relative;

}

.service-icon{
    width: 100%;
    margin-bottom: 10px;
}

.service-details h3 {
    font-size: 20px;
    color: #555;
}

.service-details p {
    font-size: 16px;
    color: #777;
}

/* service-cartoon is the content that shows the entire 
content of the services when view is clicked. 
its not suppose to be called service cartoon 
but changeinig the nam every where :(. */
.service-cartoon-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    animation: slideIn 0.5s ease-in-out;
    margin-top:0

}

.service-cartoon-p {
    display: flex;
    flex-direction: column;
    gap:12px;
    font-size:25px;
    width:40%;
    margin:auto 12px;
    padding:50px;
    color:gray;
    opacity: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


.service-cartoon-image{
width:30%;
border-radius:50%;
overflow: hidden;
opacity: 1;

}

.service-cartoon-header{
    border-left:8px solid var(--color-dark-green);
    border-right:8px solid var(--color-dark-green);
    padding: 13px;
    font-weight:900;
    color:rgb(62, 62, 62);
    border-radius:30px;text-align: center;
    background-color: rgba(0, 128, 0, 0.04);
}


.how-it-works {
    text-align: center;
    margin-top: 2rem;
    background-image: url('../images/people-laughing.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 100;
    padding:22px;
}

.steps{
    display: flex;    
}


.step {
    display: inline-block;
    margin: 20px;
    box-shadow: 1px 1px 8px rgba(128, 128, 128, 0.578);
    height:fit-content;
    border-bottom:9px solid var(--color-dark-green);
    border-radius:90px;
    width:400px;
        position: relative;
    z-index: 100;
    background-color: whitesmoke;
}


.step-number {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color:rgb(197, 194, 194);
    width:fit-content;
    margin-left:90px;
}

.step-content img {
    width: 30%;
    border-radius: 50%;
}

.how-it-works p{
        position: relative;
    z-index: 100;
    color:white;
    font-weight:600;

}

.step-content{
padding:20px;
}

.step-content p {
    font-weight: bold;
    color:rgb(48, 48, 48);
    font-size: 20px;
}

.how-it-works h2 {
    background-color: var(--color-dark-green);
    border-radius:48px;
    color:white;
    padding:12px;
    width: fit-content;
    margin:10px auto;
    position: relative;
    z-index: 100;


}


/* Common Styles */


.btn-view{
    margin-top:30px;
    padding:30px;
    cursor: pointer;
    color: var(--color-dark-green);
    border: none;
    background-color: white;
    font-size: 20px;
    font-weight: 800;
}


/* Your CSS styles for Android devices here */
    @media screen and (max-width: 767px) {
        
   
        header{
            justify-content: space-between;
        }
            
        .logo{
            width:140px; 
            padding:1px;
        }
        
        ul{
            flex-direction: column;
            margin-top:40px;
        }
        
        ul li{
            padding:6px;
            margin:10px ;
            width:150px;    
            text-align: center;
            margin:10px auto;
            
            
        }
        
        ul li a{
            font-size: 15px;
            
        }
        
        #menu_toggle{
            display:inline-block;
            padding:10px;
            margin-left:auto;
            font-size:40px;
            position: relative;
            z-index:200;
            font-family: cursive;
}

.navbar{
    position: absolute;
    opacity:0;
    
}

.nav-bar-active{
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
    width:100%;
    height:100%;
    top:6rem;
    left:0;
    right:0;
    background-color: rgba(247, 247, 255, 0.913);
    z-index: 500;
}

.quick-contact{
    border-radius: 0;
}

.quick-contact-mobile{
    display:flex;

}

#nav_ul{
    background: var(--color-nav-bg);
    margin-top:0px;
    height: 100vh;
    font-weight: 500;
}

.nav-link{
    margin-top:1rem;
}

.quick-contact-elements , .image-links{
    gap:10px;
    padding:10px;
}

#quick-email,
#quick-phone{
    gap:3px;
    font-size: 10px;;
}

.quick-contact img{
    width:15px;
}

.quick-contact{
    padding:10px;
    font-weight: 400;
    width: 100%;
}   

.service-content{
flex-direction: column;
}

.service{
    margin:10px auto;
    width:250px;
}

.service-bg{
    width:100%;
    height:30vh;
    padding:9px;

}

.service-content{
    flex-direction: column;
}

.services-rendered {
    width:100%;
    margin:0 auto
}

.how-it-works {
    margin-top: 5px;
}
.steps{
    display: grid;
    grid-template-columns: auto auto;
}

    .step {
        display: flex;
        flex-direction: column;
        width: 100px; /* Adjust the width as needed */
        text-align: center;
        border-radius: 6px;
    }

    .step *{
        margin:0;
        padding:0
    }

    .step-number {
        font-size: 10px;
        font-weight: bold;
        margin:0;
        padding:5px;
    }

    .step-content img {
        width: 30%;
    }

    .step-content p{
        font-size: 9px;
        padding: 2px;
    }

    
.service-bg-text{
    top:10%;
    font-size: 38px;}


    .service-details h3{
        font-size:15px;
        padding:20px;
    }


    .service-bg{
    height:20vh ;
    margin-bottom:20px;
    }


    .btn-view{
        display: none;
    }



    }